
/*Load google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');



/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* set light mode colors as default value */
/* :root {
	--bg-color: #ffffff;
}
*/
/* switch to dark mode color */
/*
@media (prefers-color-scheme: dark) {
	--bg-color: #111A2C;
  } */
/* Light mode */

html {
	height: 100%;
	box-sizing: border-box;
  }

  br {
	content: "";
	margin: 1em;
	display: block;
	font-size: 24%;
  }

  

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;

		/*background-image: url("./images/skyline_light.svg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: contain;
		background-position: center bottom;*/
		}
	code {
		font-family: Consolas,"courier new";
		/* color: crimson; */
		background-color: #F5F5F5;
		padding: 0.25em;
		font-size: 0.9em;
		}
	date {
		font-family: Consolas,"courier new";
		/* color: crimson; */
		font-weight: normal;
		background-color: #F5F5F5;
		margin-left: 1em;
		padding: 0.25em;
		font-size: 0.9em;
		}
	div.footer img.engineering {
			max-width: 100%;
			content: url("./images/skyline_light.svg")
		}
	div.footer img.elections {
			max-width: 100%;
			width: 100%;
			content: url("./images/2020_flag.svg")
		}
		
	}
  
/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #111A2C;
		color: white;
		}
	
	code {
		font-family: Consolas,"courier new";
		/* color: crimson; */
		background-color: #17233B;
		padding: 0.25em;
		font-size: 0.9em;
		}
	
	date {
		font-family: Consolas,"courier new";
		/* color: crimson; */
		font-weight: normal;
		background-color: #17233B;
		margin-left: 1em;
		padding: 0.25em;
		font-size: 0.9em;
		}
	div.footer img.engineering{
		max-width: 100%;
		content: url("./images/skyline_dark.svg")
	}
	div.footer img.elections {
		max-width: 100%;
		width: 100%;
		content: url("./images/2020_flag.svg")
	}
	
	}


body {
	font-family: Lato;
	font-size: medium;
	font-weight: normal;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	/* background: var(--bg-color); */
  }

div.header {
	display: block;
	/* flex-wrap: wrap; */
	height: 7em;
	background-color: #1B2845;
	border-top: 0.2em solid #3E7CB1;
	color: rgb(235, 250, 255);
	/* padding-left: 10%; */
	/* padding: 5px; */

}

div.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.hleft{
	margin-left: 5%;
	margin-top: 0.5em;
	/*height: calc(100% - 0.5em);*/
	width: 6.5em;
	float: left;
	/* width: 1em; */
	/* padding-left: 0; */
}

.hleft img{
	
	display: block;
	width: 85%;
	height: auto;
	margin: auto;

	/* padding-top: 0.1em; */
}

.hright{
	margin-top: 0.5em;
	height: calc(100% - 0.5em);
	/*width: calc(100vw - 8em - 5%);*/
	/* margin-left: 6em; */
	float: left;
	font-weight: lighter;
}

.hright a{
	text-decoration: none;
	color: inherit;
	font-weight: lighter;
}

.hrtop{
	font-size: 3em;
	/* font-weight: lighter; */
}

.hright strong{
	font-weight: bold;
}

.hrbot{
	/* display:block */
	line-height: 2.55em;
	/* font-weight: bold; */
	/* vertical-align: bottom; */
	/* padding-left: 0.5em; */
	/* padding-right: 0.5em; */
}

.hrbot span{
	padding-left: 0.1em;
	padding-right: 1.em;
}

.dropbtn {
	background-color: #1B2845;
	color: rgb(235, 250, 255);
	line-height: 2.55em;
	margin: 0;
	/*padding: 16px;*/
	font-size: 1em;
	border: none;
	font-family: Lato;
	font-weight: lighter;
	padding-left: 0.1em;
	padding-right: 0.1em;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #1B2845;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: rgb(235, 250, 255);
	padding: 4px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #3E7CB1;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3E7CB1;}

@media only screen and (orientation: landscape){
	.content{
		/* margin-top: 6em; */
		width: 80%;
		line-height: 1.5em;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 1.25em;
		--width: 100%;
		margin-bottom: calc(var(--width)/6 - 6rem);
	}

	.hleft{
		margin-left: 10%;
	}

	.hright{
		width: calc(100vw - 8em - 10%);
	}
}

@media only screen and (orientation: portrait){
	.content{
		/* margin-top: 6em; */
		width: 95%;
		line-height: 1.5em;
		padding-left: 2%;
		padding-right: 3%;
		padding-top: 1.25em;
		--width: 100%;
		margin-bottom: calc(var(--width)/6 - 6rem);
	}

	.hleft{
		margin-left: 0%;
	}
	.hright{
		width: calc(100vw - 8em - 0%);
	}

	date{
		margin-left: 0;
		display: table;
	}
}

.content h1{
	font-size: 1.5em;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

.content h2{
	/*font-weight: bold;*/
	font-size: 1.25em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.content h3{
	
	font-variant: small-caps;
	font-size: 1.2em;
	margin-top: 0.75em;
	/*margin-bottom: 0.5em;*/
}

.content h4{
	font-style: italic;
	font-size: 1.00em;
	/*margin-top: 0.4em;
	margin-bottom: 0.4em;*/
}
.content h5{
	font-weight: bold;
	font-size: 1.00em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.content table{
	text-align: left
	
}

.content ul{
	margin-left: 2em;
}

.content ol{
	margin-left: 2em;
}

.content a{
	text-decoration: none;
	color: inherit;
	/* font-weight: lighter;	 */
}

